extends ../layout

block content
    a(href="/") &raquo; Home
    .form.create-post
        form(action="/create", method="POST", enctype="multipart/form-data")#create
            .form-group
                label(for="title") Title
                input(type="text", name="title", placeholder="Title").form-control#title
            .form-group
                label(for="photos") Photos 
                    span.text-muted (Optional)
                input(type="file", name="photos", placeholder="Choose your images" accept="image/*" multiple).form-control#thumbnail
            .form-group
                label(for="tags") Tags
                input(type="text", name="tags", placeholder="Semicolon separate list").form-control#tags.no-space
            .form-group
                label(for="topic") Topic
                select(name="topic").form-control#topic.no-space
                    option(value="default") Default
                    option(value="azure") Azure
                    option(value="chrome") Chrome
                    option(value="dotnet") .NET
                    option(value="nodejs") Node.js
                    option(value="javascript") JavaScript
            .form-group
                label(for="preview") Body Preview
                input(type="text", name="preview", placeholder="Plain text here." maxlength="140").form-control#preview
            .form-group
                label(for="markdown") Body Markdown
                textarea(rows="25", name="markdown", placeholder="Full markdown here.").form-control#markdown
            button(type="submit").btn.btn-default Submit
    script.
        //- var x = document.getElementById('tags');
        //- x.onKeyPress(function(e) {
        //-     if(e.which == 32) {
        //-         return false;
        //-     }
        //- });

