extends ../layout

block content
    include ../includes/header.jade
    .box
        a(href="/").p-r &raquo; Home
        a(href="/edit/#{row.pid}").p-r &raquo; Edit
        a(href="/delete/#{row.pid}").p-r &raquo; Delete
        p!= row.body_markdown

