.nav.box
    ul.navbar
        if auth && god
            li
                a(href="/create")
                    img(src="../img/icons/plus.png").icon
        li
            a(href="https://github.com/JamesEarle")
                img(src="../img/icons/github.png").icon
        li
            a(href="https://twitter.com/ItsJamesIRL")
                img(src="../img/icons/twitter.png").icon
        li
            a(href="https://www.linkedin.com/in/itsjamesirl")
                img(src="../img/icons/linkedin.png").icon