extends layout

block content
    .box
        .row
            .col-md-8
                h2.featurette-heading About Me
                p.lead.
                    I am a Technical Evangelist at Microsoft in Los Angeles, CA. I graduated from Brock University, St. Catharines, ON, Canada
                    in June 2016, completing my BSc. (Honours) in Computer Science and Economics, with a concentration in
                    Software Engineering. My main focus is web development, but I am also interested in cryptography and
                    artificial intelligence. I am not limited to just technology though, also being an avid musician and
                    coffee enthusiast.
            .col-md-4
                img(src="img/portrait-500x500.jpg" alt="James Earle")#portrait