extends layout

block content
    .box
        .row
            .col-md-8
                h2.featurette-heading About Me
                p.lead.
                    Technology is my passion, learning is my mantra. My interests include web and desktop programming 
                    with technologies like TypeScript, JavaScript, .NET Core, and Go. I am also passionate about machine 
                    learning and the future of artificial intelligence. As a Technical Evangelist at Microsoft, I divide 
                    my time between programming, blogging, and leading technical events for developers in the community.
                p.lead.
                    I graduated from Brock University, St. Catharines, ON, Canada in June 2016, completing my BSc. 
                    (Honours) in Computer Science and Economics, with a concentration in Software Engineering. My 
                    passions vary widely beyond technology, also being an avid musician and coffee enthusiast.
            .col-md-4
                img(src="img/portrait-500x500.jpg" alt="James Earle")#portrait

                