extends layout

block content
    .box
        .row
            .row
                .col-md-6.left
                    h2 Technical Evangelist
                .col-md-6.right
                    h4 
                        span.title Microsoft
                        span , July 2016 - Present
            .text-block
                p.col-md-3.left
                  img(src="/img/ms-logo.png").logo
                p.col-md-9.left
                    .lead.
                        Technical Evangelists are an interesting blend of engineering and community engagement. While I am an engineer, I don't work
                        on a particular product at Microsoft. Instead, I spend my time building with new technology and sharing
                        what I've built with enterprise developers and students alike. This gives me freedom to work on projects and tech I enjoy
                        while simultaneously leading the community with regular public speaking events and engagements.
        .row
            h2 Microsoft Student Partner
            .text-block
                p.lead.
                    There are many MSPs at universities all across Canada. The student partner program is meant to make Microsoft
                    technology more accessible for students, and my responsibilities require me to regularly host events
                    and technical demos.
        .row
            h2 Junior Developer
            p.lead.
                Designed and restructured the company website, as well as developed internal company forms and the private customer portal using HTML, CSS, JavaScript, and PHP.
        .row
            h2 Full Stack Developer
            .text-block
                p.lead.
                    Winner of multiple entrepreneurial competitions, such as Monster Pitch and the Niagara Startup Weekend, Cross Border Housing
                    is a startup from St. Catharines, ON, that is a platform for all international or non-local students,
                    providing listings of local student properties for rent to ease the transition into a Canadian university
                    lifestyle. Beyond housing, a surplus of additional amenities are offered to give the user the smallest
                    amount of work possible in their travels.
        .row
            h2 Teaching Assistant
            p.lead.
                Text