extends layout

block content
    .box
        .row
            h2.featurette-heading Technical Evangelist
        .row
            h2.featurette-heading Microsoft Student Partner
        .row
            h2.featurette-heading Junior Developer
        .row
            h2.featurette-heading Full Stack Developer
        .row
            h2.featurette-heading Teaching Assistant