extends layout

block content
    .box
        .row
            h2 Technical Evangelist
            .post-body
                p.lead.
                    Technical Evangelists are an interesting blend of engineering and community engagement. While I am an engineer, I don't work
                    on a particular product at Microsoft. Instead, I spend my time building with new technology and sharing
                    what I've built with enterprise developers and students alike. This gives me freedom to work on projects and tech I enjoy
                    while simultaneously leading the community with regular public speaking events and engagements.
        .row
            h2 Microsoft Student Partner
            p.lead.
                There are many MSPs at universities all across Canada. The student partner program is meant to make Microsoft
                technology more accessible for students, and my responsibilities require me to regularly host events
                and technical demos.
        .row
            h2 Junior Developer
            p.lead.
                Text
        .row
            h2 Full Stack Developer
            p.lead.
                Text
        .row
            h2 Teaching Assistant
            p.lead.
                Text