extends layout

block content
    .blogs.box
        h4.center-header
            //- Enter a search bar here instead
        h3 Recent Posts
            ul
                each r, i in rows
                    // consider a two column table of blog posts too?
                    case r.topic
                        when "azure"
                            p.tag.azure
                        when "chrome"
                            p.tag.chrome
                        when "dotnet"
                            p.tag.dotnet
                        when "nodejs"
                            p.tag.nodejs
                        when "javascript"
                            p.tag.javascript
                        default
                            p.tag.default
                    li
                        a(href="/posts/#{r.pid}")
                            span #{r.title}
                        p.preview #{r.body_preview}
                            //- span #{r.tags}
