doctype html
html
  head
    if title
      title= title
    else
      title Blog Posts by James Earle
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/posts.css')
    link(rel='stylesheet', href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/darcula.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js")
    script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
    include ./includes/app_insights.html
  body
    //- Add other nav, "About", "Work", etc.
    //- Make this blog your portfolio 
    include ./includes/header.jade
    .container
        .box
          hr
          include ./includes/nav.jade
          hr
          block content
    footer
      a.twitter-share-button(href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-show-count="false" data-via="ItsJamesIRL") Tweet
      br
    script.
        var text = "\u00A9 " + new Date().getFullYear() + " James Earle";
        var elem = document.createElement("span");
        
        elem.textContent = text;

        var tags = document.getElementsByTagName("footer");
        tags[0].appendChild(elem);