doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src="/js/jquery-1.10.2.min.js")
  body
    .container
        .box
            include ./includes/nav.jade
            block content
    footer
        script. 
            var elem = "<span>&copy; " + new Date().getFullYear() + " James Earle";
            $("footer").append(elem);
