doctype html
html
  head
    title Blog Posts by James Earle
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/posts.css')
    link(rel='stylesheet', href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/darcula.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js")
    script(src="/js/jquery-1.10.2.min.js")
    include ./includes/app_insights.html
  body
    include ./includes/header.jade
    .container
        .box
            hr
            include ./includes/nav.jade
            hr
            block content
    footer
        script. 
            var elem = "<span>&copy; " + new Date().getFullYear() + " James Earle";
            $("footer").append(elem);
