/* Will create a series of eligible tags and color mappings */
.azure {
	background-color: #0078D7;
}

.chrome {
	background-color: #FF7474;
}

.default {
	background-color: #666666;
}

.dotnet {
	background-color: #7a4d87;
}

.nodejs {
	background-color: #68A12A;
}

.javascript {
	background-color: #F0DB4F;
}
