/* This is a good green color for future */
/* background-color: #68A12A; */

/* Will create a series of eligible tags and color mappings */
.azure {
	background-color: #0078D7;
}

.chrome {
	background-color: #FF7474;
}

.dotnet {
	background-color: #7a4d87;
}

.default {
	background-color: #666666;
}