body {
  font: 14px "Consolas", Helvetica, Arial, sans-serif;
  background-color: #F5F5F5;
}

a {
  color: #00b7ff;
}

/* position:absolute ruins the upload page */
footer {
	height: 50px;
	width: 100%;
	bottom: 0;
	position: relative;
	text-align: center;
	margin: 15px auto 0 auto;
}

hr {
	width: 90%;
}

li {
	margin: 15px 0;
}

ul {
	list-style-type: none;
}

/*Override in case highlight.js doesn't detect language right. (e.g. Jade)*/
pre {
	background: #2B2B2B !important;
	color: #BABABA !important
}

.tag {
	height: 20px;
	width: 15px;
	float:left;
	margin: 3px 8px 3px 3px;
}

.p-r {
	padding-right: 4px;
}

.icon {
	width: 32px;
	height: 32px;
}

.filter,
.filter:hover {
	text-decoration: none;
	color: white;
}

.box {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 17.5px;
}

.warning {
	width: 100%;
	text-align:center;
}

.warning img {
	margin: 0px 15px 15px 15px;
}

.login {
	width: 35%;
}

.create-post {
	width: 60%;
}

.form {
	margin: 35px auto 0 auto;
	padding: 10px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 7.5px;
}

.nav {
	height: 50px;
	text-align: right;
}

.navbar {
	margin-top:20px;
	list-style-type: none;
	padding: 0;
}


.center-header {
	width: 100%;
	text-align: center;
}

.center-header > h4 {
	margin-top: 7px;
}

.center-header > h1 {
	margin-bottom: 7px;
}

.header-content {
	text-align: center;
	width: 80%;
}

ul.navbar > li,
ul.topics > li {
	display: inline;
	margin: 0 5px 0 5px;
}

ul.topics li span {
	padding: 12px;
	border-radius: 25px;
}

.topics {
	width: 100%;
	padding: 0px;
}

p.preview {
	font-size: 0.75em;
	margin: 5px 0 0 50px;
}

.box p img {
	max-width: 100%;
	margin: 15px 0;
	border-radius: 5px;
}

.inline {
	display: inline;
}

.link {
	background: none;
	border: 0px;
	color: #337AB7;
}

.link:hover {
	color: #337AB7;
	text-decoration: underline;
}

.no-pad-left {
	padding-left: 0px;
}

.error {
	padding: 2px 5px;
	border-radius: 5px;
	background-color: lightpink;
}

.post-body {
	background-color: #f7f7f7;
	border-radius: 15px;
	padding: 20px 50px 50px 50px;
	margin-top: 30px;
}

/*Copying other site for consistency*/
.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #7CB2A3; /* Light green */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.little-headline {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.headline {
    padding: 100px 0;
}

.headline h1 {
    font-size: 130px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.headline h2 {
    font-size: 77px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.headline h3 {
    font-size: 43px;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    padding-bottom: 4px;
}

.header-round {
	margin-top: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;

    /* IE8 */
    behavior: url(../js/PIE.htc);
    zoom:1;
    position:relative;
}

/* Code snippets don't need the post tag highlighted color. */
span.javascript {
	background-color: #2b2b2b !important;
}