extends ../layout

block content
    .box
        .warning
            img(src="/img/errors/404.png")
            p.lead.
                Whoops... I'm having trouble finding that for you.
            p.lead
                a(href="/") Return to safety!