.nav
    ul.navbar
        li
            a(href="#")
                img(src="../img/icons/github.png").icon
        li
            a(href="#")
                img(src="../img/icons/twitter.png").icon
        li
            a(href="#")
                img(src="../img/icons/linkedin.png").icon