.nav.box
    ul.navbar
        li
            a(href="https://github.com/JamesEarle")
                img(src="../img/icons/github.png").icon
        li
            a(href="https://twitter.com/ItsJamesIRL")
                img(src="../img/icons/twitter.png").icon
        li
            a(href="https://www.linkedin.com/in/itsjamesirl")
                img(src="../img/icons/linkedin.png").icon