extends layout

block content
    .blogs.box
        h3 Recent Posts
            ul
                each r, i in rows
                    li
                        a(href="/posts/#{r.pid}")
                            h3= r.title
