extends layout

block content
    include ./includes/header.jade
    .blogs.box
        h4.center-header
            ul.topics
                li
                    span.azure 
                        a(href="#").filter Azure
                li
                    span.chrome
                        a(href="#").filter Chrome
                li
                    span.dotnet
                        a(href="#").filter .NET
                li
                    span.default
                        a(href="#").filter Default
        h3 Recent Posts
            ul
                each r, i in rows
                    // consider a two column table of blog posts too?
                    case r.topic
                        when "azure"
                            p.tag.azure
                        when "chrome"
                            p.tag.chrome
                        when "dotnet"
                            p.tag.dotnet
                        default
                            p.tag.default
                    li
                        a(href="/posts/#{r.pid}")
                            span #{r.title}
                        p.preview #{r.body_preview}
