extends layout

block content
    include ./includes/header.jade
    .blogs.box
        h3 Recent Posts
            ul
                each r, i in rows
                    // consider a two column table of blog posts too?
                    case r.topic
                        when "azure"
                            p.tag.azure
                        when "code"
                            p.tag.visual-studio
                        default
                            p.tag.default
                    li
                        a(href="/posts/#{r.pid}")
                            span #{r.title}
