doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
  body
    .container
        .box
            include ./includes/nav.jade
            block content
    footer
        span &copy; 2016, James Earle