doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
  body
    .container
        .box
            include ./includes/nav.jade
            .center-header
                hr
                h1 JAMES IRL
                h4 IN REAL LIFE
                hr
            block content