extends ../layout

block content
    a(href="/") &raquo; Home
    .form.login
        form(action="/login", method="POST", enctype="multipart/form-data")
            .form-group
                label(for="username") Username 
                input(type="text", name="username", placeholder="Enter your username").form-control#username
            .form-group
                label(for="password") Password
                input(type="password", name="username", placeholder="Enter your password").form-control#password
            button(type="submit").btn.btn-default Submit
