body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgray;
}
a {
  color: #00b7ff;
}

.nav {
	height: 50px;
	width:100%;
	text-align:right;
}

.navbar {
	list-style-type: none;
	padding: 0;
	margin-right: 20px;
}

ul.navbar > li {
	display: inline;
}